/*
This is the CSS for the markdown that appears on the
blog posts. This allows us to customize how our markdown
looks.
 */

h1 {
  font-size: 2.125rem;
  font-weight: bold;
}

h2 {
  font-size: 1.875rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

h5 {
  font-size: 1.125rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}
