@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import 'tailwindcss';

:root {
  --background: #111111;
  --roboGray: #232323;
  --textColor: #ffffff;
  --roboHotPink: #dd1c8a;
  --roboPink: #e383b6;
}

@theme {
  --color-roboHotPink: #dd1c8a;
  --color-roboPink: #e383b6;

  --font-oswald: 'Oswald', sans-serif;
}

body {
  color: var(--textColor);
  background: var(--background);
  font-family: Montserrat, sans-serif;
}

button {
  cursor: pointer;
}

.grecaptcha-badge {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #222222;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #979797;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
